.u-section-1 .u-sheet-1 {min-height: 801px}
.u-section-1 .u-text-1 {font-size: 6rem; font-family: Bangers; margin: 60px -976px 0 310px}
.u-section-1 .u-text-2 {font-size: 1.125rem; margin: -25px auto 0}
.u-section-1 .u-shape-1 {width: 680px; height: 263px; box-shadow: 0 0 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; margin: 36px auto 0 230px}
.u-section-1 .u-text-3 {font-weight: 700; font-size: 1.875rem; margin: -242px auto 0 242px}
.u-section-1 .u-text-4 {font-size: 1.5rem; animation-duration: 1000ms; margin: 0 auto 60px 252px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 508px}
.u-section-1 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-1 .u-text-4 {margin-left: 208px} }

@media (max-width: 991px){ .u-section-1 .u-shape-1 {margin-left: 40px}
.u-section-1 .u-text-4 {margin-left: 159px} }

@media (max-width: 767px){ .u-section-1 .u-shape-1 {width: 540px; margin-left: 0}
.u-section-1 .u-text-4 {margin-left: 119px} }

@media (max-width: 575px){ .u-section-1 .u-shape-1 {width: 340px}
.u-section-1 .u-text-4 {margin-left: 75px} }